# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Build and IDE
bin/
obj/
.vs/
.vscode/
*.user
*.suo

# Runtime & Local Data
Backups/
logs/
cache.db*
publish/


